<html>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

                <table>
                    <tr>
                        <td width = "500">
                            <h3>Login:</h3>
                            <h4>Username: <input size="10" type="text" name="UserName" placeholder="Username">
                            </h4>
                            <h4>Password: <input size="10" type="text" name="UserName" placeholder="Pwd">
                            </h4>
                            <center>
                            <button type = "button" style="color:grey;">Login</button>
                                </center>
                        </td>
                        <td width = "500">
                            <h3>Register:</h3>
                            <h4>Email: <input size="10" type="text" name="UserName" placeholder="Email">
                            </h4>
                            <h4>Username: <input size="10" type="text" name="UserName" placeholder="Username">
                            </h4>
                            <h4>Password: <input size="10" type="text" name="UserName" placeholder="Pwd">
                            </h4> 
                            <center>
                            <button type = "button" style="color:grey;">Register</button>
                                </center>
                        </td>
                    </tr>
                </table>
</html>
